/* 
Legenda:
~~~ um elemento composto de elementos variados

~~ elemento que contem outros elementos especificos
   normalmente eu um div auxliar de estilo

~ o elemento propriamente dito
  este normalmente vem após o item que possui ~~

*/

 /* ............................................... *\
|                                                     |
|                 CAROUSEL DE IMAGENS                 |
|                                                     |
 \* ............................................... */

.carousel-anitem {
	width: 100%;
	position: relative;
}

.carousel-anitem, .carousel-anitem * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* ------------------------ *\
|-- Estilo para as imagens --|
\* ------------------------ */

.anitem-images {
	overflow-x: hidden;
	z-index: 0;
}

.anitem-content {
	display: flex;
	transition: 0.6s;
}

/* ~~ Esta é uma div que contem a imagem ~~ */
.anitem {
	height: 100%;
}

/* ~ Esta é a imagem ~ */
.anitem-image {
	height: 100%;
	display: block;
}



/* ----------------------- *\
|-- Estilo para os botões --|
\* ----------------------- */

/* ~~ Esta é uma div que contem os botões e fica acima da 
div das imagens ~~ */
.anitem-controls {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

/* ~ Este são os botões ~ */
.anitem-controls button {
	height: 100%;
	width: 50px;
	background: none;
	border: none;
	color: #fff;
	opacity: 0;
	display: block;
	transition: 0.5s;
}

.anitem-controls:hover button {
	opacity: 1;
	width: 100px;
	transition: 0.5s;
}

.anitem-controls button i {
	background: #000000aa;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.anitem-controls button:hover i {
	background: #000000ea;
}

@media (max-width: 767.98px) {
	.anitem-controls button {
		display: none;
	}
}

 /* ............................................... *\
|                                                     |
|                 CAROUSEL SLIDEITEMS                 |
|                                                     |
 \* ............................................... */

/* Contem todo conteudo do SlideItems */
.carousel-several {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr;
}



/* ------------------------- *\
|-- Estilo para o cabeçalho --|
\* ------------------------- */

.several-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #C9C9C9;
}

/* ~ Seleção do titulo ~ */
.several-controls > div:first-child h3 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	text-transform: uppercase;
	color: #525252;
	display: block;
}

/* ~~~ Lista de links do cabeçalho ~~~ */
.several-controls > div + div ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.several-controls > div + div ul > li {
	float: left;
	padding: 6px 15px;
}

.several-controls > div + div ul > li button {
	border: none;
	background: none;
	color: #454545;
	display: block;
	padding: 0;
	transition: 0.3s;
}

.several-controls > div + div ul > li button:hover {
	color: #D01F1F;
	transition: 0.3s;
}

/* ~~~ Parte dos botões ~~~ */
/* ~~ Esse contem os botões ~~ */

@media (max-width: 767.98px) {
	.several-controls > div + div > ul {
		font-size: 0.8em;
		line-height: 16px;
		float: left;
	}
	.several-controls > div + div > div {
		float: right;
	}
}

@media (min-width: 768px) {
	.several-controls > div + div > * {
		float: left;
	}
}

.several-controls > div + div > div {
	display: inline;
	padding: 6px 10px;
}

/* ~ Esse é os botões ~ */
.several-controls > div + div > div button {
	padding: 0 5px;
	margin: 0 5px;
	border: none;
	background: none;
	color: #525252;
	transition: 0.3s;
}

.several-controls > div + div > div button:hover {
	color: #B20D0D;
	transition: 0.3s;
}

/* ------------------------------- *\
|-- Estilo para os items de slide --|
\* ------------------------------- */

.several-body {
	margin-top: 5px;
	overflow-x: hidden;
}

.several-content {
	display: flex;
	transition: 0.5s;
}

.severalitems {
	padding: 5px 10px;
	display: flex;
	justify-content: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.severalitems {
		min-width: 242px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.severalitems {
		min-width: 235px;
	}
}

@media (min-width: 1200px) {
	.severalitems {
		min-width: 227px;
	}
}

/* ~~~ Esse seleciona a caixa aux que é a visivel ~~~ */
.severalitems > div {
	height: 100%;
	width: 100%;
	padding: 10px;
	background: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
}

@media (max-width: 767.98px) {
	.severalitems > div {
		padding: 20px 10px;
	}
}


@media (min-width: 768px) {
	.severalitems > div {
		padding: 10px;
	}

	.severalitems > div:hover {
		box-shadow: 0 0 10px -2px #00000012;
	}
}

/* ~~ Esta é div das imagens e botões ~~ */
.severalitems > div > div:first-child {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767.98px) {
	.severalitems > div > div:first-child > div {
		display: none;
	}
}

/* ~ É a parte da imagem ~ */
.severalitems > div > div:first-child > a {
	display: flex;
	justify-content: center;
}
.severalitems > div > div:first-child > a img {
	display: block;
	width: 100%;
}

/* ~~ div do link de favoritar ~~ */
.severalitems > div > div:first-child > a + div {
	position: absolute;
	opacity: 0;
	transition: 0.3s;
}

.severalitems:hover > div > div:first-child > a + div {
	opacity: 1;
	transition: 0.3s;
}

.severalitems > div > div:first-child > a + div > button {
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: block;
	text-align: center;
	border: none;
	border-radius: 40px;
	background: #fff;
	box-shadow: 0 0 10px -5px #000000aa;
	color: #454545;
	transition: 0.3s;
}

.severalitems > div > div:first-child > a + div > button:hover {
	background: #F43434;
	color: #fff;
	transition: 0.3s;
}

.severalitems > div > div:first-child > a + div > button.isfavorite {
	background: #F43434;
	color: #fff;
	transition: 0.3s;
}

.severalitems > div > div:first-child > a + div > a i {
	position: relative;
	top: 2px;
}

/* ~~ Esta é a div do marcador de tempo ~~ */
.severalitems > div > div:first-child > a + div + div {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	box-sizing: content-box;
	transition: 0.3s;
	top: 0;
	visibility: visible;
	bottom: 0;
}


@media (max-width: 767.98px) {
	.severalitems > div > div:first-child > a + div + div {
		top: 5px;
	}
}

@media (min-width: 768px) {
	.severalitems:hover > div > div:first-child > a + div + div {
		opacity: 0;
		top: -100px;
		visibility: hidden;
		transition: 0.2s;
	}
}

.severalitems > div > div:first-child > a + div + div ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: content-box;
}

.severalitems > div > div:first-child > a + div + div ul li {
	padding-top: 5px;
	margin: 0 3px;
	width: 50px;
	height: 50px;
	text-align: center;
	background: #191919be;
	border-radius: 4px;
	color: #EEEEEEbe;
	opacity: 0.8;
}

@media (max-width: 767.98px) {
	.severalitems > div > div:first-child > a + div + div ul li {
		padding-top: 2px;
		min-width: 40px;
		max-width: 40px;
		min-height: 40px;
		max-height: 40px;
		font-size: 0.8em;
	}
}

.severalitems > div > div:first-child > a + div + div ul li span {
	line-height: 20px;
	display: block;
}

/* ~~ Esta é a div do nome do produto e preço abaixo da imagem ~~ */
.severalitems > div > div + div {
	text-align: center;
	margin: 7px 0 5px;
}

/* ~ Estilo das titulos ~ */
.severalitems > div > div + div > h2 {
	margin-bottom: 3px;
	font-size: 1em;
	margin-bottom: 3px;
}

.severalitems > div > div + div > h3 {
	font-size: 0.8em;
	color: #F32749;
}

/* ~~ Esta é a div que contem o link inferior ~~~  */
.severalitems > div > div + div + div {
	text-align: center;
	font-size: 0.9em;
}

@media (max-width: 767.98px) {
	.severalitems > div > div + div + div {
		display: none;
	}
}

/* ~ Este é o link inferior ~ */
.severalitems > div > div + div + div > button {
	background: none;
	display: inline-block;
	border-radius: 40px;
	padding: 10px 12px;
	border: 1px solid #D7D7D7;
}

.severalitems > div > div + div + div > button:hover {
	border: 1px solid #F04747;
	background: #F04747;
	color: #fff;
}

@media (max-width: 767.98px) {
	.severalitems > div > div:first-child > div {
		display: none;
	}
	.severalitems > div > div + div + div {
		display: none;
	}
}