#maincategories {
	margin-top: 15px;
}


/*                     /               \                     */
/*--------------------| MAIN CATEGORIES |--------------------*/
/*                     \               /                     */

/*                     /            \                     */
/*--------------------| ASIDE FILTRO |--------------------*/
/*                     \            /                     */

#asidefilter {
	border: 1px solid red;
}




/*                     /      \                     */
/*--------------------| FILTRO |--------------------*/
/*                     \      /                     */

#filter {
	border: 1px solid #E1E1E1;
	background-color: #fff;
}

/* todas as partes */
#filter > form > div {
	border-bottom: 1px solid #E1E1E1;
	padding: 10px 8px;
}

/* primeira parte */
#filter > form > div:first-child {
	color: #C71D1D;
	font-weight: bold;
	font-size: 1.2em;
}

/* ultima parte */
#filter > form > div:last-child {
	border: none;
}

/* seleconando os titulos depois da primeira parte */
#filter > form > div:first-child ~ div > div:first-child {
	padding: 3px 0;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 10px;
}

/* adicionando as setinhas */
#filter > form > div:first-child ~ div > div:first-child::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0de';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
}


/*                 \ PREÇO /                 */

#formprice > div:first-child + div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

#formprice input {
	margin: 0;
	padding: 4px 10px;
	display: block;
	border-radius: 0;
	width: 100%;
	border: 1px solid #D1D1D1;
	position: relative;
	background-color: transparent;
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: bold;
	color: #676767;
}

#rangeprice {
	height: 5px;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	margin: 12px 0;
	position: relative;
}

#min-price-value,
#max-price-value {
	display: none;
}

#min-box,
#max-box {
	width: 15px;
	height: 15px;
	border: 1px solid red;
	position: absolute;
	border-radius: 30px;
	border: 1px solid #D1D1D1;
	background: linear-gradient(to bottom, #F8F8F8, #EBEBEB);
	top: -6px;
}

#min-box {
	left: -1px;
}

#max-box {
	right: -1px;
}

#view-middle {
	height: 100%;
	background-color: #EBEBEB;
	left: 20px;
	right: 50px;
	position: absolute;
}

/*                 \ MARCA /                 */

#formbrand > div {
	margin-top: 2px;
}

#formbrand input {
	display: none;
}

#formbrand label {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}

#formbrand label::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f00c';
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	top: 2px;
	left: 1px;
	color: #fff;
	background-color: #fff;
	border: 1px solid #AEAEAE;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 3px;
}

#formbrand input:checked + label::before {
	background-color: #E13333;
	border: 1px solid #E13333;
}

/*                 \ ESTOQUE /                 */

#formstock > div {
	margin-top: 2px;
}

#formstock input {
	display: none;
}

#formstock label {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}

#formstock label::before {
	content: '';
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 2px;
	left: 1px;
	color: #fff;
	background-color: #fff;
	border: 1px solid #AEAEAE;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 20px;
}

#formstock label::after {
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 5px;
	left: 4px;
	color: #fff;
	background-color: #fff;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 10px;
}

#formstock input:checked + label::before {
	border: 1px solid #E13333;
}

#formstock input:checked + label::after {
	background-color: #E13333;
}

/*                     /              \                     */
/*--------------------| FILTRO CENTRAL |--------------------*/
/*                     \              /                     */

#central-filter {
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px 15px;
}

#central-filter > div:first-child {
	display: flex;
}

#central-filter > div:first-child > button {
	position: relative;
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	border: 1px solid #3C3C3C4a;
	color: #3C3C3C;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
}

.grid #central-filter > div:first-child > button:first-child {
	border-color: #DC3333;
	color: #DC3333;
}


.list #central-filter > div:first-child > button:last-child {
	border-color: #DC3333;
	color: #DC3333;
}

#central-filter > div:first-child > button:first-child {
	margin-right: 10px;
}

#central-filter > div:first-child > button > span {
	position: absolute;
	min-width: 100%;
	font-size: 0.8em;
	padding: 5px 3px;
	background-color: #000000ea;
	left: 0;
	top: -28px;
	border-radius: 3px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
}

#central-filter > div:first-child > button:hover {
	border-color: #DC3333;
	color: #DC3333;
	transition: 0.2s;
}

#central-filter > div:first-child > button:hover > span {
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}

#central-filter form {
	height: 100%;

}

#central-filter label:hover {
	cursor: pointer;
}

#central-filter select {
	border: 1px solid #E1E1E1;
	padding: 5px 10px;
	border-radius: 3px;
	height: 100%;
	font-size: 0.8em;
}

#central-filter select:hover {
	cursor: pointer;
}

#central-filter select:focus {
	box-shadow: 0 0 3px #357DCF3a;
}



/*                     /                 \                     */
/*--------------------| LISTA DE PRODUTOS |--------------------*/
/*                     \                 /                     */

#list-products {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}

.item-products > div:hover {
	box-shadow: 0 0 10px -3px #0000002a;
}

/*--------------------| LAYOUT GRID |--------------------*/

.grid .item-products {
	padding: 5px 10px;
	display: flex;
	justify-content: center;
}

/* ~~~ Esse seleciona o elemento auxilar (que é o visivel) ~~~ */
.grid .item-products > div {
	height: 100%;
	width: 100%;
	padding: 10px;
	background: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
}

@media (max-width: 767.98px) {
	.grid .item-products > div {
		padding: 20px 10px;
	}
}


@media (min-width: 768px) {
	.grid .item-products > div {
		padding: 10px;
	}

	.grid .item-products > div:hover {
		box-shadow: 0 0 10px -2px #00000012;
	}
}

/* ~~ Esta é div das imagens e botões ~~ */
.grid .item-products > div > div:first-child {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ~ É o link que contem a imagem ~ */
.grid .item-products > div > div:first-child > a {
	display: flex;
	justify-content: center;
}
.grid .item-products > div > div:first-child > a img {
	display: block;
	width: 100%;
}

/* ~~ link de favoritar ~~ */
.grid .item-products > div > div:first-child > div {
	position: absolute;
	right: 0px;
}

@media (max-width: 767.98px) {
	.grid .item-products > div > div:first-child > div {
		top: -15px;
	}
}

@media (min-width: 768px) {
	.grid .item-products > div > div:first-child > div {
		top: -5px;
	}
}

.grid .item-products > div > div:first-child > a + div > a {
	display: block;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-size: 1.2em;
}

.grid .item-products > div > div:first-child > a + div > a:hover {
	color: #F43434;
	text-shadow: none;
}

.grid .item-products > div > div:first-child > a + div > a i {
	position: relative;
	top: 2px;
}

/* ~~ Esta é a div do nome do produto e preço abaixo da imagem ~~ */
.grid .item-products > div > div + div {
	text-align: center;
	margin: 7px 0 5px;
}

/* ~ Estilo das titulos ~ */
.grid .item-products > div > div + div > h2 {
	margin-bottom: 3px;
	font-size: 1em;
	margin-bottom: 3px;
}

.grid .item-products > div > div + div > h3 {
	font-size: 0.8em;
	color: #F32749;
}

.grid .item-products > div > div:first-child + div > p {
	overflow-y: hidden;
	font-size: 0.9em;
	color: #5E5E5E;
	height: 31px;
}

/* ~~ Esta é a div que contem o link inferior ~~~  */
.grid .item-products > div > div + div + div {
	text-align: center;
	font-size: 0.8em;
}

@media (max-width: 767.98px) {
	.grid .item-products > div > div + div + div {
		display: none;
	}
}

/* ~ Este é o link inferior ~ */
.grid .item-products > div > div + div + div > a {
	display: inline-block;
	border-radius: 40px;
	padding: 10px 12px;
	border: 1px solid #D7D7D7;
}

.grid .item-products > div > div + div + div > a:hover {
	border: 1px solid #F04747;
	background: #F04747;
	color: #fff;
}















.list .item-products {
	width: 100%;
	padding: 7px 0;
}

.list .item-products > div {
	height: 100%;
	width: 100%;
	padding: 10px;
	background: #fff;
	border: 1px solid #E1E1E1;
	border-radius: 5px;

	display: grid;
	grid-template-rows: 1fr 50px;
	grid-template-areas: "i t"
						 "i l";
	grid-column-gap: 15px;
}

.list .item-products > div > div:first-child {
	grid-area: i;
}

.list .item-products > div > div:first-child + div {
	grid-area: t;
}


.list .item-products > div > div:last-child {
	grid-area: l;
}

.list .item-products > div > div:first-child > a {
	display: block;
}

.list .item-products > div > div:first-child > a > img {
	display: block;
	width: 100%;
}



.list .item-products > div > div:first-child {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.list .item-products > div > div:first-child > div {
	position: absolute;
	top: 0;
	right: -5px;
	font-size: 1.2em;
}

.list .item-products > div > div:first-child > div > a {
	color: #ffffff;
	text-shadow: 0 0 2px #000000aa;
}

.list .item-products > div > div:first-child > div > a:hover {
	color: #F44E4E;
	text-shadow: none;
}

.list .item-products > div > div:first-child + div > h2 {
	font-weight: normal;
	padding-bottom: 10px;
}

.list .item-products > div > div:first-child + div > h3 {
	font-size: 1em;
	margin: 6px 0 0;
	color: #F22F2F;
}

.list .item-products > div > div:first-child + div > p {
	margin: 0;
	padding: 0;
	color: #5E5E5E;
	text-align: justify;
}



.grid .item-products > div > div:first-child + div > p {
	color: #5E5E5E;
}


.list .item-products > div > div:last-child {
	display: flex;
	align-items: center;
}

.list .item-products > div > div:last-child > a {
	border: 1px solid #E1E1E1;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 0.9em;
}

.list .item-products > div > div:last-child > a:hover {
	border: 1px solid #EB2929;
	background-color: #EB2929;
	color: #fff;
}







#pages-list {
	display: flex;
	margin-top: 15px;
}

#pages-list > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
}

#pages-list > ul > li {
	border: 1px solid #E1E1E1;
	margin-right: -1px;
	transition: 0.2s;
}

#pages-list > ul > li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pages-list > ul > li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#pages-list > ul a {
	height: 35px;
	width: 40px;
	line-height: 35px;
	display: block;
	transition: 0s;
	text-align: center;
}

#pages-list > ul li:hover {
	border-color: #E93636;
	background-color: #E93636;
	transition: 0.2s;
	z-index: 2;
}

#pages-list > ul li:hover a {
	color: #fff;
	transition: 0s;
}

#pages-list > ul li.active {
	border-color: #E93636;
	background-color: #E93636;
	z-index: 1;
}

#pages-list > ul li.active a {
	color: #fff;
}