 /* *********************************************** *\
|* ---------------- MAIN CATEGORIES ---------------- *|
 \* *********************************************** */
#maincategories { 
	margin-top: 15px }

@media (min-width: 768px) and (max-width: 991.98px) {
	#maincategories > div {
		display: grid;
		grid-template-columns: 245px 1fr;
		grid-column-gap: 15px;
	}
}

@media (min-width: 992px) {
	#maincategories > div {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-column-gap: 15px;
	}
}

.gridname {
	white-space: nowrap;
}

 /* ************************************************ *\
|* ------------------ FILTRO ASIDE ------------------ *|
 \* ************************************************ */

#asidefilter {
	border: 1px solid red }

#filter {
	border: 1px solid #E1E1E1;
	background-color: #fff;
}

/* todas as partes */
#filter > form > div {
	border-bottom: 1px solid #E1E1E1;
	padding: 10px 8px;
}

/* primeira parte */
#filter > form > div:first-child {
	color: #C71D1D;
	font-weight: bold;
	font-size: 1.2em;
}

/* ultima parte */
#filter > form > div:last-child {
	border: none }

/* seleconando os titulos depois da primeira parte */
#filter > form > div:first-child ~ div > div:first-child {
	padding: 3px 0;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 10px;
}

/* adicionando as setinhas */
#filter > form > div:first-child ~ div > div:first-child::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0de';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
}



 /* -------------------- PREÇOS -------------------- */

#formprice > div:first-child + div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

#formprice input {
	margin: 0;
	padding: 4px 10px;
	display: block;
	border-radius: 0;
	width: 100%;
	border: 1px solid #D1D1D1;
	position: relative;
	background-color: transparent;
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: bold;
	color: #676767;
}

#rangeprice {
	height: 5px;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	margin: 12px 0;
	position: relative;
}

#min-price-value,
#max-price-value {
	display: none }

#min-box,
#max-box {
	width: 15px;
	height: 15px;
	border: 1px solid red;
	position: absolute;
	border-radius: 30px;
	border: 1px solid #D1D1D1;
	background: linear-gradient(to bottom, #F8F8F8, #EBEBEB);
	top: -6px;
}

#min-box {
	left: -1px }

#max-box {
	right: -1px }

#view-middle {
	height: 100%;
	background-color: #EBEBEB;
	left: 20px;
	right: 50px;
	position: absolute;
}

 /* -------------------- MARCA -------------------- */

#formbrand > div {
	margin-top: 2px }

#formbrand input {
	display: none }

#formbrand label {
	padding-left: 20px;
	position: relative }

#formbrand label::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f00c';
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	top: 2px;
	left: 1px;
	color: #fff;
	background-color: #fff;
	border: 1px solid #AEAEAE;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 3px;
}

#formbrand input:checked + label::before {
	background-color: #E13333;
	border: 1px solid #E13333;
}

/* -------------------- ESTOQUE -------------------- */
#formstock > div { 
	margin-top: 2px }

#formstock input { 
	display: none }

#formstock label {
	padding-left: 20px;
	position: relative;
}

#formstock label::before {
	content: '';
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 2px;
	left: 1px;
	color: #fff;
	background-color: #fff;
	border: 1px solid #AEAEAE;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 20px;
}

#formstock label::after {
	content: '';
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 5px;
	left: 4px;
	color: #fff;
	background-color: #fff;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	border-radius: 10px;
}

#formstock input:checked + label::before {
	border: 1px solid #E13333 }

#formstock input:checked + label::after {
	background-color: #E13333 }

 /* ************************************************ *\
|* ----------------- FILTRO CENTRAL ----------------- *|
 \* ************************************************ */

@media (max-width: 767.98px) {
 	#view-products { margin-top: 15px }
}

#central-filter {
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px 15px;
}

@media (max-width: 991.98px) {
	#central-filter {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 6px;
		padding: 10px 20px;
	}
}

@media (min-width: 992px) {
	#central-filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

#central-filter form {
	height: 100% }

#central-filter select {
	border: 1px solid #E1E1E1;
	padding: 5px 10px;
	border-radius: 3px;
	height: 100%;
	font-size: 0.8em;
}

#central-filter select:focus {
	box-shadow: 0 0 3px #357DCF3a }

@media (max-width: 991.98px) {
	#central-filter label {
		display: flex;
		align-items: center;
	}

	#central-filter select {
		background: none;
		min-width: 100%;
	}
}

#buttons-layout {
	display: flex }

#buttons-layout > button {
	position: relative;
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	border: 1px solid #3C3C3C4a;
	color: #3C3C3C;
	border-radius: 5px;
	transition: 0.2s;
}

.grid #button-grid,
.list #button-list {
	border-color: #DC3333;
	color: #DC3333;
}

#buttons-layout > button:first-child {
	margin-right: 10px;
}

#buttons-layout > button > span {
	position: absolute;
	min-width: 100%;
	font-size: 0.8em;
	padding: 5px 3px;
	background-color: #000000ea;
	left: 0;
	top: -28px;
	border-radius: 3px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
}

#buttons-layout > button:hover {
	border-color: #DC3333;
	color: #DC3333;
	transition: 0.2s;
}

#buttons-layout > button:hover > span {
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}

@media (max-width: 991.98px) {
	#central-filter > div:first-child + div > form {
		display: grid;
		grid-template-columns: 110px 1fr;
	}  

	#central-filter > div:last-child > form {
		display: grid;
		grid-template-columns: 72px 1fr;
	}
}

 /* *********************************************** *\
|* --------------- LISTA DE PRODUTOS --------------- *|
 \* *********************************************** */

#list-products {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}

.item-products > div:hover {
	box-shadow: 0 0 10px -3px #0000002a;
}

 /* *********************************************** *\
|* ------------------ LAYOUT GRID ------------------ *|
 \* *********************************************** */

.grid .item-products {
	padding: 3px;
	display: flex;
	justify-content: center;
}

@media (max-width: 575.98px) {
	.grid .item-products { max-width: 50% }
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.grid .item-products { max-width: 33.333333% } 
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.grid .item-products { max-width: 50% }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.grid .item-products { max-width: 33.33333% }
}

@media (min-width: 1200px) {
	.grid .item-products { 
		max-width: 25% 
	}
}

/* ~~~ Esse seleciona o elemento auxilar (que é o visivel) ~~~ */
.grid .item-products > div {
	height: 100%;
	width: 100%;
	padding: 10px;
	background: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
}

@media (max-width: 767.98px) {
	.grid .item-products > div {
		padding: 20px 10px;
	}
}

@media (min-width: 768px) {
	.grid .item-products > div {
		padding: 10px;
	}

	.grid .item-products > div:hover {
		box-shadow: 0 0 10px -2px #00000012;
	}
}

/* ~~ Esta é div das imagens e botões ~~ */
.grid .product-img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ~ É o link que contem a imagem ~ */
.grid .product-img > a {
	display: flex;
	justify-content: center;
}
.grid .product-img > a img {
	display: block;
	width: 100%;
}

/* ~~ link de favoritar ~~ */
.grid .product-img > div {
	position: absolute;
	right: 0px;
}

@media (max-width: 767.98px) {
	.grid .product-img > div {
		top: -15px;
	}
}

@media (min-width: 768px) {
	.grid .product-img > div {
		top: -5px;
	}
}

.grid .product-img > a + div > a {
	display: block;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-size: 1.2em;
}

.grid .product-img > a + div > a:hover {
	color: #F43434;
	text-shadow: none;
}

.grid .product-img > a + div > a i {
	position: relative;
	top: 2px;
}

/* ~~ Esta é a div do nome do produto e preço abaixo da imagem ~~ */
.grid .product-info {
	text-align: center;
	margin: 7px 0 5px;
}

/* ~ Estilo das titulos ~ */
.grid .product-info > h2 {
	margin-bottom: 3px;
	font-size: 1em;
	margin-bottom: 3px;
}

.grid .product-info > h3 {
	font-size: 0.8em;
	color: #F32749;
}

.grid .listname {
	display: none;
}

.grid .description-text {
	overflow-y: hidden;
	font-size: 0.9em;
	color: #5E5E5E;
	height: 31px;
}

/* ~~ Esta é a div que contem o link inferior ~~~  */
.grid .product-info + div {
	text-align: center;
	font-size: 0.8em;
}

@media (max-width: 767.98px) {
	.grid .product-info + div {
		display: none;
	}
}

/* ~ Este é o link inferior ~ */
.grid .product-info + div > a {
	display: inline-block;
	border-radius: 40px;
	padding: 10px 12px;
	border: 1px solid #D7D7D7;
}

.grid .product-info + div > a:hover {
	border: 1px solid #F04747;
	background: #F04747;
	color: #fff;
}

 /* *********************************************** *\
|* ----------------- LAYOUT LISTA ------------------ *|
 \* *********************************************** */

.list .item-products {
	width: 100%;
	padding: 7px 0;
}

.list .item-products > div {
	height: 100%;
	width: 100%;
	padding: 10px;
	background: #fff;
	border: 1px solid #E1E1E1;
	border-radius: 5px;

	display: grid;
	grid-template-rows: 1fr 50px;
	grid-template-areas: "i t"
						 "i l";
	grid-column-gap: 15px;
}

@media (max-width: 575.98px) {
	.list .item-products > div {
		grid-template-columns: 110px 1fr;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.list .item-products > div {
		grid-template-columns: 130px 1fr }
}

@media (min-width: 768px) {
	.list .item-products > div {
		grid-template-columns: 170px 1fr }
}

.list .product-img {
	grid-area: i;
}

.list .product-img + div {
	grid-area: t;
}


.list .product-addcart {
	grid-area: l;
}

.list .product-img > a {
	display: block;
}

.list .product-img > a > img {
	display: block;
	width: 100%;
}

.list .product-img {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.list .product-img > div {
	position: absolute;
	top: 0;
	right: -5px;
	font-size: 1.2em;
}

.list .product-img > div > a {
	color: #ffffff;
	text-shadow: 0 0 2px #000000aa;
}

.list .product-img > div > a:hover {
	color: #F44E4E;
	text-shadow: none;
}

.list .product-img + div > h2 {
	padding-bottom: 10px;
}

.list .product-img + div > h3 {
	font-size: 1em;
	margin: 6px 0 0;
	color: #F22F2F;
}

.list .description-text {
	margin: 0;
	padding: 0;
	color: #5E5E5E;
	text-align: justify;
}

@media (max-width: 575.98px) {
	.list .description-text {
		text-align: left;
		height: 36px;
		overflow-y: hidden;
	}
}

.list .listname {
	font-size: 1em;
	font-weight: bold;
}

.list .gridname {
	display: none;
}

@media (min-width: 576px) {
	.list .description-text {
		max-height: 50px;
		overflow-y: hidden;
		width: 100%;
		font-size: 0.9em;
	}
}

.list .product-addcart {
	display: flex;
	align-items: center;
}

.list .product-addcart > a {
	border: 1px solid #E1E1E1;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 0.9em;
}

.list .product-addcart > a:hover {
	border: 1px solid #EB2929;
	background-color: #EB2929;
	color: #fff;
}

@media (max-width: 767.98px) {
	.list .product-addcart {
		display: none;
	}
}