body, html {
	padding: 0;
	margin: 0;
	font-family: "Sen", sans-serif;
	background: #F8F8F8;
}

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:link, a:active, a:visited {
	color: #454545;
	transition: 0.3s;
}

a:hover {
	color: #D01F1F;
	transition: 0.3s;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.content {
	height: 100%;
}

@media (max-width: 575.98px) {
	.content {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.content {
		margin-left: 26px;
		margin-right: 26px;
	}
}
@media (min-width: 768px) {
	.content {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.content {
		width: 726px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.content {
		width: 940px;
	}
}
@media (min-width: 1200px) {
	.content {
		width: 1135px;
	}
}

/* é a parte que mostra sua localização atual no site */
#divloc {
	margin-top: 15px;
}

#divloc > div > ul {
	display: flex;
	padding: 10px 15px;
	margin: 0;
	list-style-type: none;
	background-color: #F0F0F0;
	border-radius: 3px;
}

#divloc > div > ul > li a {
	padding: 2px 5px;
	display: block;
}

#divloc > div > ul > li:first-child ~ li {
	margin-left: 30px;
	position: relative;
}

#divloc > div > ul > li:first-child ~ li::before {
	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
	content: '\f054';
	color: #454545;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -25px;
}

#divloc > div > ul > li:last-child a {
	color: #D01F1F;
}
