.content {
	height: 100%;
	/*background: #0000001f;*/
}
@media (max-width: 575.98px) {
	.content {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.content {
		margin-left: 26px;
		margin-right: 26px;
	}
}
@media (min-width: 768px) {
	.content {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 767.98px) {
	#header-navegation {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.content {
		width: 726px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.content {
		width: 940px;
	}
}
@media (min-width: 1200px) {
	.content {
		width: 1135px;
	}
}