/*                     /            \                     */
/*--------------------| INTRODUCTION |--------------------*/
/*                     \            /                     */

#section-introduction {
	margin-top: 15px;
}

#carousel-intro {
	margin: 0 auto;
}

#section-introduction > div,
#section-introduction > div > div,
#introduction-cards ul,
#introduction-cards li {
	transition: 0.5s;
}

#introduction-cards > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	border: 1px solid #D1D1D1;
	border-radius: 6px;
	background: #FFFFFF;
}

#introduction-cards > ul > li img {
	display: block;
	height: 40px;
	width: 40px;
}

#introduction-cards h3 {
	font-size: 1em;
	color: #212121;
}

#introduction-cards h5 {
	font-size: 0.85em;
	color: #626262;
}

/*                     /        \                     */
/*--------------------| TRENDING |--------------------*/
/*                     \        /                     */

#section-trending {
	margin-top: 15px;
}

#Strend {
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: 2;
}

@keyframes ajax-trend {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.clear {
	clear: both;
}

/*                     /        \                     */
/*--------------------| ANUNCIOS |--------------------*/
/*                     \        /                     */
#section-advertising {
	margin-top: 15px;
}

#section-advertising .content > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

#section-advertising .content > div > div img {
	width: 100%;
	display: block;
	border-radius: 2px;
}

#section-advertising .content > div > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-advertising .content > div > div + div + div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-deal {
	margin-top: 15px;
}

/*                     /       \                     */
/*--------------------|  MEDIA  |--------------------*/
/*                     \       /                     */
@media (max-width: 575.98px) {
	/* CONTROLE DE VISIBILIDADE
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	/* ✏ são as duas imagens a direta */
	#section-advertising .content > div > div + div + div {
		display: none;
	}

	/* CARDS
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#introduction-cards {
		margin-top: 12px;
	}

	#introduction-cards > ul > li > div {
		display: flex;
		align-items: center;
		height: 100%;
		height: 72px;
		padding: 0 20px;
	}

	#introduction-cards > ul > li > div > div:last-child {
		margin-left: 10px;
	}

	/* SEÇÃO DOS ANÚNCIOS DE IMAGENS
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-advertising .content > div {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 576px) {
	/* CAROUSEL DE IMAGENS DA INTRODUÇÃO
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	.buttons-carousel button {
		width: 50px;
	}

	.buttons-carousel button i {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	.buttons-carousel:hover button {
		width: 100px;
	}

	.buttons-carousel button:hover {
		cursor: pointer;
	}
	
	/* SEÇÃO DOS ANÚNCIOS DE IMAGENS
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-advertising .content > div {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	/* CARDS
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#introduction-cards {
		margin-top: 15px;
	}

	#introduction-cards > ul {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	#introduction-cards > ul > li > div {
		display: flex;
		align-items: center;
		height: 72px;
		padding: 0 15px;
	}

	#introduction-cards > ul > li > div > div:last-child {
		margin-left: 10px;
	}

	#introduction-cards > ul > li:first-child,
	#introduction-cards > ul > li:first-child + li + li {
		border-right: 1px solid #D1D1D1;
	}
}

@media (max-width: 767.98px) {
	/* CONTROLE DE VISUALIZAÇÂO
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	/* ✏ titulo do trending */
	#section-trending .several-controls > div:first-child {
		display: none }

	/* SEÇÂO DO SLIDE TRENDING
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	/* ✏ div que contem os links e botoes */
	#section-trending .several-controls > div + div {
		width: 100%
	}
}

@media (min-width: 768px) {
	/* SECTION INTRODUCTION
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-introduction > div > div
	#section-introduction.open_l > div > div
	#section-introduction.close_l > div > div {
		transition: 0.1s;
	}

	#introduction-cards > ul > li:hover > div > div:first-child > img {
		transform: rotateY(5400deg);
		transition: 60s;
	}
	#introduction-cards > ul > li > div > div:first-child > img {
		transform: rotateY(0deg);
		transition: 10s;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	/* INRODUCTION
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-introduction.open_l > div > div {
		margin-left: 260px;
	}

	/* CARDS OPEN
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#introduction-cards {
		margin-top: 15px;
	}

	.open_l #introduction-cards > ul {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.open_l #introduction-cards > ul > li > div {
		display: flex;
		align-items: center;
		padding: 0 15px;
		height: 80px;
	}

	.open_l #introduction-cards > ul > li > div > div:last-child {
		margin-left: 10px;
	}

	.open_l #introduction-cards > ul > li:first-child,
	.open_l #introduction-cards > ul > li:first-child + li + li {
		border-right: 1px solid #D1D1D1;
	}

	/* CARDS CLOSE
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	.close_l #introduction-cards > ul {
		display: flex;
	}

	.close_l #introduction-cards > ul > li {
		width: 25%;
	}

	.close_l #introduction-cards > ul > li > div {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 15px 0;
	}

	.close_l #introduction-cards > ul > li > div > div:last-child {
		height: 100%;
		margin-top: 5px;
	}

	.close_l #introduction-cards > ul > li {
		border-right: 1px solid #D1D1D1;
	}

	.close_l #introduction-cards > ul > li:last-child {
		border: none;
	}
}

@media (max-width: 991.98px) {
	/* SEÇÃO DOS ANÚNCIOS DE IMAGENS
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-advertising .content > div {
		grid-gap: 6px;
	}
}

@media (min-width: 992px) {
	/* CARDS OPEN
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	.open_l #introduction-cards {
		margin-top: 15px;
	}

	.open_l #introduction-cards > ul {
		display: flex;
	}

	.open_l #introduction-cards > ul > li {
		width: 25%;
	}

	.open_l #introduction-cards > ul > li > div {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 15px 0;
	}

	.open_l #introduction-cards > ul > li > div > div:last-child {
		height: 100%;
		margin-top: 5px;
	}

	.open_l #introduction-cards > ul > li {
		border-right: 1px solid #D1D1D1;
	}

	.open_l #introduction-cards > ul > li:last-child {
		border: none;
	}

	/* CARDS CLOSE
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	.close_l #introduction-cards > ul {
		height: 100%;
	}

	.close_l #introduction-cards > ul > li {
		height: 25%;
	}

	.close_l #introduction-cards > ul > li > div {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 12px;
	}
	.close_l #introduction-cards > ul > li > div > div:last-child {
		margin-left: 8px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	/* INRODUCTION
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-introduction.open_l > div > div {
		margin-left: 290px;
	}

	#section-introduction.close_l > div {
 		display: grid;
 		grid-template-columns: 600px 1fr;
 		grid-gap: 15px;
 	}
}

@media (min-width: 1200px) {
	/* INRODUCTION
	   ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖ */
	#section-introduction.open_l > div > div:first-child {
		margin-left: 290px;
	}

	#section-introduction.close_l > div {
		display: grid;
		grid-template-columns: 720px 1fr;
		grid-gap: 15px;
	}
}