/*@media (max-width: 575.98px) {}*/
/*@media (min-width: 576px) and (max-width: 767.98px) {}*/

@media (max-width: 575.98px) {
	.buttons-carousel:hover button {
		width: 60px;
	}

	.buttons-carousel button {
		width: 35px;
	}

	.buttons-carousel button:hover {
		cursor: pointer;
	}

	.buttons-carousel button i {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	/* CARDS */
	#introdution-cards ul {
		padding-left: 1px;
		padding-top: 1px;
		display: grid;
		grid-template-rows: 72px 72px 72px 72px;
		grid-template-columns: 1fr;
		box-shadow: 0 0 15px -12px #000000aa;
		border-radius: 6px;
	}
	
	
	#introdution-cards ul > li > div {
		position: relative;
	}

	#introdution-cards ul > li > div > div + div {
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 45px;
	}

	#introdution-cards ul > li > div:first-child div {
		margin-right: 5px;
	}

	#introdution-cards ul > li > div > div:first-child + div {
		height: 100%;
		padding-top: 3px;
	}

	#introdution-cards ul > li {
		margin-top: -1px;
	}

	#introdution-cards ul > li:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom: none;
	}

	#introdution-cards ul > li:first-child + li {
		border-top: none;
		border-bottom: none;
	}

	#introdution-cards ul > li:first-child + li + li {
		border-top: none;
		border-bottom: none;
	}

	#introdution-cards ul > li:first-child + li + li + li {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-top: none;
	}
}

@media (min-width: 576px) {
	.buttons-carousel:hover button {
		width: 100px;
	}

	.buttons-carousel button {
		width: 50px;
	}

	.buttons-carousel button:hover {
		cursor: pointer;
	}

	.buttons-carousel button i {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	/* CARDS */

	#introdution-cards ul {
		padding-left: 1px;
		padding-top: 1px;
		display: grid;
		grid-template-rows: 72px 72px;
		grid-template-columns: 1fr 1fr;
		box-shadow: 0 0 15px -12px #000000aa;
		border-radius: 6px;
	}

	#introdution-cards ul > li > div {
		display: flex;
	}

	#introdution-cards ul h5 {
		color: #626262;
		font-size: 0.75em;
	}

	#introdution-cards ul > li > div:first-child div {
		margin-right: 5px;
	}

	#introdution-cards ul > li > div > div:first-child + div {
		height: 100%;
		padding: 3px 0;
	}

	#introdution-cards ul > li {
		margin-left: -1px;
		margin-bottom: -1px;
	}

	#introdution-cards ul > li:first-child {
		border-top-left-radius: 6px;
		border-bottom: none;
	}

	#introdution-cards ul > li:first-child + li {
		border-top-right-radius: 6px;
		border-bottom: none;
	}

	#introdution-cards ul > li:first-child + li + li {
		border-bottom-left-radius: 6px;
		border-top: none;
	}

	#introdution-cards ul > li:first-child + li + li + li {
		border-bottom-right-radius: 6px;
		border-top: none;
	}
}

@media (max-width: 767.98px) {
	/*  ------|>   HEADER   <|------  */

	#h-brand img {
		height: 60px;
	}
	#panel-cart img {
		width: 55px;
	}

	header {
		background: #6565652a;
		background: linear-gradient(to bottom, #65656500, #6565652c);
		border-bottom: 1px solid #BABABA;
		padding-bottom: 15px;
		box-shadow: 0 0 7px #2020205a;
	}

	/* -- BATÃO DO MENU RESPONSIVO -- */
	#panel-optionsmenu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	#h-panel {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 40px;
		grid-template-areas: "cart optionsmenu";
	}
	#panel-cart {
		grid-area: cart;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media (min-width: 768px) {
	/*  ------|>   HEADER   <|------  */
	#panel-optionsmenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#h-panel {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "cart optionsmenu";
	}
	#panel-cart {
		grid-area: cart;
	}
	#header-banner {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	

	/* CARDS */

	#introdution-cards ul {
		padding-left: 1px;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		box-shadow: 0 0 15px -12px #000000aa;
		border-radius: 6px;
	}

	#introdution-cards ul > li > div {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#introdution-cards ul > li > div:first-child div {
		margin-bottom: 5px;
	}

	#introdution-cards ul > li {
		margin-left: -1px;
	}

	#introdution-cards ul > li:first-child {
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	#introdution-cards ul > li:first-child + li + li + li {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#panel-cart img {
		width: 65px;
	}
}

@media (max-width: 991.98px) {
	
	#h-search select {
		display: none;
		box-shadow: 0 0 3px blue;
	}

	#h-search input {
		width: 75%;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	#h-search button {
		width: 10%;
	}
}

@media (min-width: 992px) {
	/*Parte da formulario do header*/
	#h-search select {
		width: 30%;
	}

	#h-search input {
		width: 55%;
	}

	#h-search button {
		width: 10%;
	}

	/*Parte do painel do header*/
	#panel-cart img {
		width: 75px;
	}

	/* Cards */
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	#panel-cart {
		position: relative;
	}
	#panel-cart > div > p:first-child {
		display: none;
	}
	#panel-cart {
		flex-direction: column-reverse;
	}
}

@media (min-width: 1200px) {
	#panel-cart {
		justify-content: flex-end;
	}
}

/*@media (min-width: 768px) and (max-width: 991.98px) {}*/
/*@media (min-width: 992px) and (max-width: 1199.98px) {}*/
/*@media (min-width: 1200px) {}