@media (max-width: 575.98px) {
	.grid .item-products {
		max-width: 50%;
	}

	.list .item-products > div > div:first-child + div > p {
		overflow-y: hidden;
		height: 35px;
		text-align: left;
	}



	.list .item-products > div {
		grid-template-columns: 110px 1fr;
	}
}

@media (max-width: 767.98px) {
	#view-products {
		margin-top: 15px;
	}}

@media (min-width: 576px) and (max-width: 767.98px) {
	.grid .item-products {
		max-width: 33.333333%;
	}

	.list .item-products > div {
		grid-template-columns: 130px 1fr;
	}
}

@media (min-width: 768px) {
	.list .item-products > div {
		grid-template-columns: 170px 1fr;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#maincategories > div {
		display: grid;
		grid-template-columns: 245px 1fr;
		grid-column-gap: 15px;
	}
}

@media (max-width: 991.98px) {
	#central-filter {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 6px;
		padding: 10px 20px;
	}

	#central-filter label {
		display: flex;
		align-items: center;
	}

	#central-filter > div:first-child + div > form {
		display: grid;
		grid-template-columns: 110px 1fr;
	}  

	#central-filter > div:last-child > form {
		display: grid;
		grid-template-columns: 72px 1fr;
	}

	#central-filter select {
		background: none;
		min-width: 100%;
	}

	#pages-list {
		flex-direction: column;
		align-items: center;
	}

	#pages-list ul {
		margin-bottom: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {
	.grid .item-products {
		max-width: 50%;
	}
}


@media (min-width: 992px) {
	#central-filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	#maincategories > div {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-column-gap: 15px;
	}



	#pages-list {
		align-items: center;
		justify-content: space-between;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.grid .item-products {
		max-width: 33.33333%;
	}
}

@media (min-width: 1200px) {
	.grid .item-products {
		max-width: 25%;
	}
}

/********************************************************
********************************************************/

/*@media (max-width: 575.98px) {}*/
/*@media (min-width: 576px) and (max-width: 767.98px) {}*/
/*@media (min-width: 768px) and (max-width: 991.98px) {}*/
/*@media (min-width: 992px) and (max-width: 1199.98px) {}*/
/*@media (min-width: 1200px) {}*/

@media (max-width: 767.98px) {
	#imgs {
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	#mainproduct > div {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-areas: "imgs info" "tinfo tinfo";
	}

	#imgs {
		grid-area: imgs;
	}

	#info {
		grid-area: info;
	}

	#text-info {
		grid-area: tinfo;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#mainproduct > div {
		grid-template-columns: 360px 1fr;
	}
	
	#si-imgs button {
		min-width: 120px;
	}

	#info {
		padding-left: 15px;
	}
}

@media (min-width: 992px) {
	#mainproduct > div {
		grid-template-columns: 440px 1fr;
	}
	
	#si-imgs button {
		min-width: 110px;
	}

	#info {
		padding-left: 20px;
	}
}