#mainmyaccount {
	margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#mainmyaccount > div.content {
		display: grid;
		grid-template-columns: 245px 1fr;
		grid-gap: 15px;
	}
}

@media (min-width: 992px) {
	#mainmyaccount > div.content {
		display: grid;
		grid-template-columns: 280px 1fr;
		grid-gap: 15px;
	}
}


/* *********************************************** *\
|* -------------- BOTÃO ABRIR ASIDE -------------- *|
\* *********************************************** */

#btn-asidemyaccount {
	z-index: 3;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 40px;
	border: none;
	color: #fff;
	background-color: #2B2B2B;
	box-shadow: 0 0 6px #0000001a;
	opacity: 0.9;
}

@media (min-width: 768px) {
	#btn-asidemyaccount {
		display: none }
}

/* *********************************************** *\
|* -------------------- ASIDE -------------------- *|
\* *********************************************** */

@media (max-width: 767.98px) {
	#asidemyaccount {
		z-index: 3;
		position: fixed;
		bottom: 70px;
		right: 10px;
		background-color: #fff;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 0 6px #0000001a;
		transition: 0.4s;
	}

	#asidemyaccount.close {
		visibility: hidden;
		opacity: 0;
	}

	#asidemyaccount.open {
		visibility: visible;
		opacity: 1;
	}
}

#asidemyaccount > ul {
	padding: 5px;
	margin: 0;
	list-style-type: none;
}

#asidemyaccount .active a {
	color: #D01F1F;
}

#asidemyaccount > ul > li {
	border-bottom: 1px solid #D4D4D4;
}

#asidemyaccount > ul > li:last-child {
	border: none;
}

#asidemyaccount > ul > li > a {
	display: block;
	display: flex;
	align-items: center;
	padding: 3px 7px;
}

#asidemyaccount > ul > li > a > i {
	font-size: 2em;
	height: 40px;
	line-height: 40px;
	width: 40px;
	margin-right: 10px;
	text-align: center;
}

#asidemyaccount > ul:last-child {
	border-radius: 5px;
	background-color: #F3F3F3;
}

/* *********************************************** *\
|* -------------------- ASIDE -------------------- *|
\* *********************************************** */

#search-bar > div {
	display: flex;
	justify-content: center;
}

#search-bar > span {
	font-size: 1.5em;
	display: block;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
}

#search-bar > div > form {
	display: block;
	width: 80%;
}

#search-bar > div > form > input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #D6D6D6;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#search-bar > div > button {
	display: block;
	padding: 10px 15px;
	margin-left: -1px;
	border: none;
	background-color: #EE2D2D;
	color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#search-bar > div > button > i {
	transform: rotateY(180deg);
}

/* *********************************************** *\
|* -------------------- PAGES -------------------- *|
\* *********************************************** */

.empty {
	border-bottom: 1px solid #D5D5D5;
	font-size: 1.1em;
	padding: 15px 0;
	color: #8B8B8B;
}

#accountpages {
	margin-top: 15px;
}

#accountpages > div:first-child ~ div {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #D5D5D5;
}

/* *********************************************** *\
|* ------------------- PEDIDOS ------------------- *|
\* *********************************************** */

.pending {
	background-color: #E82828 }

.delivered {
	background-color: #252525 }

.resultrequests > div:first-child {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.resultrequests > div:first-child > span:first-child {
	padding: 3px 0;
	font-weight: bold;
}

.resultrequests > div:first-child > span:last-child {
	border-radius: 4px;
	color: #fff;
	padding: 3px 10px;
}

.resultrequests > div:last-child {
	margin-top: 7px;
}

@media (max-width: 575.98px) {
	.resultrequests > div:last-child > span {
		display: block;
		margin-top: 5px;
	}
}

@media (min-width: 576px) {
	.resultrequests > div:last-child {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.imgsrequests {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.imgsrequests img {
	height: 60px;
}

.imgsrequests > a {
	display: block;
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 4px #0000001a;

}

.imgsrequests > a:first-child ~ a {
	margin-left: 10px;
}

.imgsrequests > a:first-child + a + a ~ a {
	display: none;
}

/* *********************************************** *\
|* ------------------ FAVORITOS ------------------ *|
\* *********************************************** */

.favorite-product {
	display: grid;
	grid-column-gap: 5px;
}

@media (max-width: 575.98px) {
	.favorite-product {
		grid-template-columns: 20px 90px 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "h i s"
		                     "h t t";
		grid-row-gap: 5px;
	}

	.fheart { grid-area: h }

	.fimg { grid-area: i }

	.finfo { grid-area: t }

	.fstars { grid-area: s }
}

@media (min-width: 576px) {
	.favorite-product {
		grid-template-columns: 20px 90px 1fr 150px }
}

.fheart {
	display: flex;
	align-items: center;
}

.fheart i {
	color: #EE2E2E;
}

.fheart button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.fimg > a {
	display: block;
	padding: 5px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 4px #0000001a;
}

.finfo > a {
	display: block;
	font-size: 1.2em;
}

.finfo > span {
	font-size: 0.9em;
	color: #9D9D9D;
}

.favorite-product img {
	display: block;
	height: 80px;
}


.fstars {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.fstars a {
	padding: 7px 15px;
	background-color: #323232;
	border-radius: 4px;
	color: #fff;
}

/* ************************************************ *\
|* ------------------ AVALIAÇÕES ------------------ *|
\* ************************************************ */

@media (max-width: 575.98px) {
	.review-product {
		display: grid;
		grid-template-columns: 90px 1fr;
		grid-template-rows: 30px 1fr;
		grid-template-areas: "l l"
							 "i n";
		grid-gap: 10px;
	}

	.review-product > div:first-child {
		grid-area: i;
	}

	.review-product > div:first-child + div {
		grid-area: n;
	}
	.review-product > div:last-child {
		grid-area: l;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}

@media (min-width: 576px) {
	.review-product {
		display: grid;
		grid-template-columns: 90px 1fr 120px;
		grid-column-gap: 10px;
	}
}

.review-product > div:first-child a {
	display: block;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 0 4px #0000001a;
	background-color: #fff;
}


.review-product > div:first-child + div > a {
	font-size: 1.1em;
	display: block;
	margin-bottom: 10px;
}

@media (min-width: 576px) {
	.review-product > div:last-child {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.review-product > div:last-child > a {
	padding: 7px 15px;
	background-color: #252525;
	border-radius: 4px;
	color: #fff;
}

.review-product > div:last-child > a:first-child {
	background-color: #E34141;
}

.review-product img {
	display: block;
	height: 80px;
}

.review-comment > div:first-child {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

.review-comment > div:first-child > span {
	font-size: 1.1em;
	font-weight: bold;
}

.review-comment > div:first-child + div {
	color: #585858;
	padding-bottom: 10px;
}