#mainproduct {
	margin-top: 15px;
}

@media (min-width: 768px) {
	#mainproduct > div.content {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-areas: "imgs info"
							 "tinfo tinfo";
	}

	#product-imgs {
		grid-area: imgs }

	#info {
		grid-area: info }

	#informations {
		grid-area: tinfo }
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#mainproduct > div.content {
		grid-template-columns: 360px 1fr }
}

@media (min-width: 992px) {
	#mainproduct > div.content {
		grid-template-columns: 440px 1fr }
}

/* ************************************************* *\
|* -------------------- IMAGENS -------------------- *|
\* ************************************************* */

@media (max-width: 767.98px) {
	#product-imgs {
		margin-bottom: 15px }
}

#main-image {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-image img {
	display: block;
	max-width: 500px;
	width: 100%;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #0000000a;
}

/* ----------------- CAROUSEL ----------------- */

/* Super si-imgs */
#Ssi-imgs {
	overflow-x: scroll;
}

#si-imgs {
	display: flex;
}

#si-imgs > button {
	padding: 7px;
	border: none;
	background: none;
	display: block;
	cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#si-imgs > button { 
		width: 120px;
		min-width: 120px;
		max-width: 120px;
	}
}

@media (min-width: 992px) {
	#si-imgs > button { 
		width: 110px;
		min-width: 110px;
		max-width: 110px;
	}
}

#si-imgs > button > img {
	display: block;
	width: 100%;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 5px;
	padding-bottom: 0;
	background-color: #fff;
}

/* ************************************************** *\
|* ------------- INFORMAÇÕES PRINCIPAIS ------------- *|
\* ************************************************** */

@media (min-width: 768px) and (max-width: 991.98px) {
	#info {
		padding-left: 15px }
}

@media (min-width: 992px) {
	#info {
		padding-left: 20px }
}

#info > div {
	padding: 20px 0;
	border-bottom: 1px solid #E1E1E1;
}

#info > div:first-child {
	padding-top: 0;
}
#info > div:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* ----------------- NAME ----------------- */

#name h1 {
	font-size: 1.3em;
	padding: 0;
}

/* ----------------- DADOS ----------------- */

#dates th {
	width: 175px;
	padding: 0;
	text-align: left;
}

#dates a {
	color: #EC2D2D;
}

/* ----------------- NUMBERS ----------------- */

#numbers > span {
	font-size: 1.1em;
	font-weight: normal;
}

#numbers > div {
	display: flex;
	margin-top: 10px;
}

#numbers > div > * {
	display: block;
	width: 40px;
	height: 40px;
}

#numbers > div > button {
	border-radius: none;
	border: none;
	background-color: #EB2727;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

#numbers > div > button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#numbers > div > span {
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	background-color: #F2F2F2; 
}

#numbers > div > button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#numbers > div > button:hover {
	background-color: #D51E1E;
	transition: 0.3s;
}

/* ----------------- ADD CART ----------------- */

#add-cart > * {
	height: 40px;
	display: inline-block;
	line-height: 40px;
	padding: 0 15px;
	border: 1px solid #E1E1E1;
	background-color: transparent;
	border-radius: 40px;
	color: #454545;
	transition: 0.3s;
}

#add-cart > *:hover {
	background-color: #EB2727;
	border: 1px solid #EB2727;
	color: #fff;
	transition: 0.3s;
}

#add-cart > button:last-child {
	border-radius: 5px;
}

#add-cart > button.isfavorite {
	background-color: #EB2727;
	border: 1px solid #EB2727;
	color: #fff;
}



/* ----------------- REVIEWS ----------------- */

#reviews-link {
	display: flex;
	align-items: center;
}

#reviews-link > * {
	margin-right: 10px;
}

#reviews-link > div {
	margin-right: 15px;
}

#reviews-link > button {
	padding: 0;
	border: none;
	background-color: transparent;
	color: #454545;
}

#reviews-link > button:hover {
	cursor: pointer;
	color: #D01F1F;
}

/* ----------------- MIDIAS ----------------- */

#midias img {
	width: 28px;
	height: 28px;
	display: block;
}

#midias {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#midias > * {
	margin-right: 10px;
}

#midias > a:hover {
	opacity: 0.8;
}

/* ************************************************* *\
|* ------------------ INFORMAÇÕES ------------------ *|
\* ************************************************* */

#informations {
	margin-top: 15px;
}

.info-container {
	margin-top: 15px;
}

.info-container > div:first-child {
	border: 1px solid #E1E1E1;
	border-bottom: none;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 15px;
	background-color: #fff;
	color: #E23535;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.info-container > div:first-child > i {
	font-size: 1.3em;
	margin-right: 5px;
	line-height: 40px;
}

.info-container > div:last-child {
	border: 1px solid #E1E1E1;
	padding: 15px;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #fff;
}

/* ************************************************* *\
|* ------------------- DESCRIÇÃO ------------------- *|
\* ************************************************* */

#description {
	text-align: justify;
}

/* ************************************************ *\
|* ---------------- ESPECIFICAÇÕES ---------------- *|
\* ************************************************ */

#specification table {
	width: 100%;
	border-collapse: collapse;
}

#specification table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#specification > div > table:first-child ~ table {
	margin-top: 12px;
}

#specification table tr {
	border: 1px solid #D3D3D3;
	border-collapse: collapse;
	height: 40px;
	padding: 10px 0;
}

#specification table * {
	padding-left: 10px;
}

.tittle-item {
	text-align: left;
}

.row-item td:first-child {
	width: 65%;
	border-right: 1px solid #D3D3D3;
}

.row-item td:last-child {
	width: 35%;
}

.one-row-item td:last-child {
	width: 0%;
}

/* ************************************************* *\
|* ------------------- PERGUNTAS ------------------- *|
\* ************************************************* */
#old-reviews > p,
#questions > p {
	text-align: center;
	font-size: 0.8em;
}

#questions > div ~ div {
	margin-top: 5px;
}

/* ----------------- CLASS QUESTION ----------------- */

.formcontrol.close {
	display: none;
}


.formcontrol {
	text-align: center;
}

.formcontrol > button {
	background-color: #F9F9F9;
	border: 1px solid #E1E1E1;
	padding: 5px 20px;
	border-radius: 4px;
	transition: 0.3s;
}

.formcontrol > button:hover {
	background-color: #F0F0F0;
	transition: 0.3s;
}

.question {
	display: grid;
	grid-template-columns: 25px 1fr;
}

.question > div > i {
	transform: rotateY(180deg);
	color: #FF0000aa;
}

.question-tittle {
	display: block;
	font-weight: bold;
}

.question-author {
	font-size: 0.8em;
	color: #ADADAD;
}

.button-answer {
	display: block;
	margin-bottom: 10px;
}

.button-answer.close {
	display: none;
}

.button-answer button {
	border: none;
	background-color: transparent;
	text-decoration: underline;
	font-size: 0.9em;
	padding: 0;
	cursor: pointer;
}

.button-answer button:hover {
	color: #EE3636;
}

/* ----------------- CLASS ANSWER/s ----------------- */

.answers {
	margin-top: 10px;
}

.answers > div:first-child ~ div {
	margin-top: 10px;
}

.answer {
	display: grid;
	grid-template-columns: 25px 1fr;
}

.answer > div:first-child > i {
	color: #0000005a;
}

.answer-tittle {
	font-size: 1em;
	display: block;
}

.answer-author {
	font-size: 0.8em;
	color: #ADADAD;

}

/* ----------------- CLASS FORM STYLE ----------------- */

.formstyle {
	border: 1px solid #E1E1E1;
	background-color: #F9F9F9;
	border-radius: 4px;
	margin-top: 10px;
	overflow-y: hidden;

	visibility: hidden;
	max-height: 0;
	opacity: 0;
	transition: 0.2s;
}

.formstyle.open {
	padding: 10px;
	visibility: visible;
	max-height: 400px;
	opacity: 1;
	transition: 0.2s;
}

.formstyle .closeform {
	text-align: right;

}

.formstyle .closeform button {
	background-color: transparent;
	border: none;
	padding: 0;
	color: #323232;
}

.formstyle label {
	display: inline-block;
	margin-bottom: 5px;
}

.formstyle form {
	width: 100%;
	margin: 0;
}

.formstyle textarea {
	height: 78px;
	min-width: 100%;
	max-width: 100%;
	border: 1px solid #D7D7D7;
	padding: 10px;
}

.formstyle input[type="text"] {
	display: block;
	width: 100%;
	border: 1px solid #D7D7D7;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.formstyle > div:last-child {
	display: flex;
	justify-content: flex-end;
}

.formstyle > div:last-child > button {
	padding: 7px 20px;
	border: none;
	background-color: #E83737;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.3s;
}

.formstyle > div:last-child > button:hover {
	background-color: #DE3030;
	transition: 0.3s;
}

/* ************************************************ *\
|* ------------------ AVALIAÇÕES ------------------ *|
\* ************************************************ */

/* -------------- ANTIGAS AVALIAÇÕES -------------- */

#old-reviews > div.old-review:last-child {
	border: none;
}

#reviewscontent > p {
	text-align: center;
	font-size: 0.8em;
}

.old-review {
	padding: 10px;
	border-bottom: 1px solid #E1E1E1;
}

.old-review > div:last-child {
	margin-top: 10px;
}

.name-review,
.name-review + div {
	margin-bottom: 5px;
}

.name-review > span:first-child {
	font-weight: bold;
	font-size: 1.1em;
	margin-right: 5px;
}

.review-coment {
	font-size: 0.9em;
	color: #363636;
}

.review-name-date {
	font-size: 0.9em;
	color: #848484;
}

/* --------------- NOVAS AVALIAÇÕES --------------- */

#stars-review {
	margin: 10px 0;
}

#stars-review > div:first-child {
	margin-bottom: 5px;
}

#superreviewnote {
	position: relative;
}

#viewstarsnewreview {
	display: flex;
}

#valueviewreview {
	position: relative;
	top: 3px;
}

#button-star-review {
	background-color: transparent;
	padding: 0;
	border: none;
	color: #7F7F7F;
	cursor: pointer;
	width: 100px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}