body, html {
	padding: 0;
	margin: 0;
	background: #F5F5F5;
	font-family: "Sen", sans-serif;
	/*overflow-x: hidden;*/
}

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:link, a:active, a:visited {
	color: #454545;
	transition: 0.3s;
}

a:hover {
	color: #D01F1F;
	transition: 0.3s;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

body.open {
	overflow: hidden;
}

/*                     /      \                     */
/*--------------------| HEADER |--------------------*/
/*                     \      /                     */
#h-brand, #h-search, #h-panel {
	height: 100%;
}

#header-navegation {
	height: 42px;
	background: linear-gradient(to bottom, #181818, #0B0B0B);
	margin-top: 10px;
}

#h-brand {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#h-search {
	display: flex;
	align-items: center;
	justify-content: center;
}

#h-search form {
	width: 100%;
	font-size: 1em;
	display: flex;
	justify-content: center;
}

#h-search select,
#h-search input,
#h-search button {
	height: 35px;
	font-family: unset;
}

#h-search select:focus,
#h-search input:focus,
#h-search button:focus {
	box-shadow: 0 0 7px -4px #000000aa;
}

#h-search select,
#h-search input {
	background: transparent;
	border: 1px solid #CCCCCC;
	margin-right: -1px;
}

#h-search select {
	padding: 0 10px 0 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#h-search input {
	padding: 0 10px;
}

#h-search button {
	background: linear-gradient(145deg, #2F2F2F, #171717);
	color: #fff;

	border: 1px solid #151515;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#h-search button i {
	position: relative;
	top: 1px;
}

#h-search select:hover, #h-search button:hover {
	cursor: pointer;
}

#h-panel {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#cart {
	background: url(../img/cart-icon.png) no-repeat;
	background-size: 39px 39px;
}

#favorites {
	background: url(../img/heart.png) no-repeat;
	background-position: 3px 4px;
	background-size: 32px 32px;
}

#link-profile {
	background: url(../img/user.png) no-repeat;
	background-position: 2px 1px;
	background-size: 36px 36px;
}

#h-panel > * {
	display: block;
	height: 40px;
	width: 40px;
}

#h-panel > a {
	margin: 0 12px;
}

#button-responsive-menu {
	border: none;
	background: none;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	font-size: 1.8em;
}

#button-responsive-menu i {
	line-height: 38px;
	display: block;
}

/* ✏ button do menu categorias */
#button-responsive-menu.open {
	z-index: 7;
}

#button-responsive-menu * {
	transition: 0.4s;
	opacity: 1;
	position: relative;
	left:0;
}

#button-responsive-menu > i:first-child { top: 0 }

#button-responsive-menu > i:last-child { bottom: 0 }

#button-responsive-menu.open * { transition: 0.6s }

#button-responsive-menu.open > i:first-child {
	transform: rotate(-45deg);
	top:8px;
}

#button-responsive-menu.open > i:first-child + i {
	opacity: 0;
	width: 0;
	left: 25px;
	transition: 0.3s;
}

#button-responsive-menu.open > i:last-child {
	transform: rotateZ(45deg);
	bottom: 8px;
}

#button-responsive-menu:hover {
	cursor: pointer;
}

.icon-bar {
	height: 3px;
	width: 26px;
	background: #171717;
	margin: 5px 0;
	border-radius: 5px;
}

/*  ------|>   MENU DE NAVEGAÇÃO PRINCIPAL   <|------  */

#nav-main > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	height: 42px;
}

#nav-main > ul > li {
	height: 100%;
}
#nav-main > ul > li > a, #button-categories {
	border: none;
	display: block;
	height: 100%;
	line-height: 42px;
	padding: 0 20px;
	background: transparent;
	color: #fff;
	font-size: 1em;
	font-family: unset;
	text-transform: uppercase;
	transition: 0.3s;
}

#button-categories {
	background-color: #232323;
}

#button-categories {
	text-align: left;
	width: 245px;
}

#nav-main > ul > li > a:hover {
	background: #2D2D2D;
}

#button-categories:hover {
	cursor: pointer;
	background: #DE2222;
	transition: 0.3s;
}

#button-categories i {
	margin-right: 10px;
}

/*                     /               \                     */
/*--------------------| MENU CATEGORIES |--------------------*/
/*                     \               /                     */
#menu-categories.close > nav {
	opacity: 0;
}

#menu-categories.close > nav > ul > li a {
	height: 0px;
	line-height: 0px;
	font-size: 0em;
	border: none;
}

.close .catedorie-dropdown::before {
	opacity: 0;
}

#section-introduction *{
	transition: 0.5s;
}

/*                     /                    \                     */
/*--------------------| MENU CATEGORIES RESP |--------------------*/
/*                     \                    /                     */
#menu-categories_resp {
	z-index: 5;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #09090900;
	opacity: 0;
	visibility: hidden;
	transition: 1s;
}

#menu-categories_resp.open {
	opacity: 1;
	visibility: visible;
	background: #0909094a;
	transition: 1s;
}

#menu-categories_resp nav {
	min-height: 100%;
	position: relative;
	left: -100%;
	overflow: auto;
	transition: 1s;
}

#menu-categories_resp nav::-webkit-scrollbar {
	display: none;
}

#menu-categories_resp.open nav {
	left: 0;
	transition: 1s;
}

#menu-categories_resp nav > ul {
	border-right: 5px solid #252525;
	background-color: #F7F7F7;
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
	left: 0;
	right: 0;
	min-height: 100%;
	padding: 0 10px;
}

#menu-categories_resp nav > ul {
}

#menu-categories_resp nav > ul > li > a {
	padding: 13px 0;
	border-bottom: 1px solid #D4D4D4;
}

#menu-categories_resp nav > ul > li > button {
	padding: 13px 0;
	display: block;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 1px solid #C4C4C4;
	text-align: left;
	color: #454545;
}

#menu-categories_resp nav > ul > li:last-child > a {
	border: none;
}

#menu-categories_resp nav > ul > li a {
	display: block;
}

#menu-categories_resp nav > ul > li a > i, #menu-categories_resp nav > ul > li button i {
	width: 20px;
	margin-right: 5px;
	text-align: center;
}

#menu-categories_resp .catedorie-dropdown {
	position: relative;
}

#menu-categories_resp .catedorie-dropdown::before {
	font-family: 'Font Awesome 5 Free';
  	font-weight: 900;
	content: '\f054';
	color: #454545;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	z-index: 4;
	transform: rotate(90deg);
	font-size: 0.8em;
	position: absolute;
	top: 10px;
	right: 15px;
	transition: 0.2s;
}

#menu-categories_resp .catedorie-dropdown > div {
	background: #EBEBEB;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
	max-height: 0;
	transition: 1s;
}

#menu-categories_resp .catedorie-dropdown > div > ul {
	margin: 0;
	list-style-type: none;
	padding: 3px 20px;
	/*border: 1px solid;*/
}

#menu-categories_resp .catedorie-dropdown > div > ul > li:first-child > a {
	font-weight: bold;
	padding: 7px 0;
}

#menu-categories_resp .catedorie-dropdown > div > ul > li:first-child ~ li > a  {
	padding: 5px 0;
	border-bottom: 1px solid #DCDCDC;
}

#menu-categories_resp .catedorie-dropdown > div > ul > li:first-child ~ li:last-child > a {
	border: none;
}

#menu-categories_resp div.open {
	max-height: 600px;
	transition: 1s;
}



/*                     /            \                     */
/*--------------------| INTRODUCTION |--------------------*/
/*                     \            /                     */

#section-introduction {
	margin-top: 15px;
}

#carousel-introduction {
	margin: 0 auto;
}

#introdution-cards ul * {
	margin: 0;
	padding: 0;
}

#introdution-cards ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#introdution-cards ul h3 {
	color: #171717;
	font-size: 0.9em;
}

#introdution-cards ul h5 {
	color: #626262;
	font-size: 0.8em;
}

#introdution-cards ul *:hover {
	cursor: context-menu;
}

#introdution-cards ul > li > div:first-child div {
	height: 40px;
}

#introdution-cards ul > li > div div img {
	text-align: center;
}

#introdution-cards ul > li {
	padding: 15px;
	border: 1px solid #D8D8D8;
}


/*                     /        \                     */
/*--------------------| TRENDING |--------------------*/
/*                     \        /                     */

#section-trending {
	margin-top: 15px;
}

.clear {
	clear: both;
}

/*                     /        \                     */
/*--------------------| ANUNCIOS |--------------------*/
/*                     \        /                     */
#section-advertising {
	margin-top: 15px;
}

#section-advertising .content > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

#section-advertising .content > div > div img {
	width: 100%;
	display: block;
	border-radius: 2px;
}

#section-advertising .content > div > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-advertising .content > div > div + div + div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-deal {
	margin-top: 15px;
}

/*                     /      \                     */
/*--------------------| FOOTER |--------------------*/
/*                     \      /                     */

footer {
	margin-top: 25px;
	padding: 10px 0;
	border-top: 1px solid #D8D8D8;
}

footer > div > div {
	/*border: 1px solid red;*/

}

footer > div > div > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

footer > div > div:first-child > ul > li i {
	width: 20px;
	color: #2A2A2A;
	margin-right: 7px;
	text-align: center;
}

footer > div > div h3 {
	margin: 5px 0;
	padding: 10px 0;
	border-bottom: 2px solid #E23939aa;
}

footer > div > div > ul > li {
	line-height: 25px;
}




















