body, html {
	padding: 0;
	margin: 0;
	background: #F5F5F5;
	font-family: "Sen", sans-serif;
	/*overflow-x: hidden;*/
}

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
}

a:link, a:active, a:visited {
	color: #454545;
	transition: 0.2s;
}

a:hover {
	color: #B20D0D;
	transition: 0.2s;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

/*                     /      \                     */
/*--------------------| HEADER |--------------------*/
/*                     \      /                     */
#h-brand, #h-search, #h-panel {
	height: 100%;
}

#header-navegation {
	height: 42px;
	background: linear-gradient(to bottom, #181818, #0B0B0B);
	margin-top: 10px;
}

#h-brand {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#h-search {
	display: flex;
	align-items: center;
	justify-content: center;
}

#h-search form {
	width: 100%;
	font-size: 1em;
	display: flex;
	justify-content: center;
}

#h-search select,
#h-search input,
#h-search button {
	height: 35px;
	font-family: unset;
}

#h-search select:focus,
#h-search input:focus,
#h-search button:focus {
	box-shadow: 0 0 7px -4px #000000aa;
}

#h-search select,
#h-search input {
	background: transparent;
	border: 1px solid #CCCCCC;
	margin-right: -1px;
}

#h-search select {
	padding: 0 10px 0 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#h-search input {
	padding: 0 10px;
}

#h-search button {
	background: linear-gradient(145deg, #2F2F2F, #171717);
	color: #fff;

	border: 1px solid #151515;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#h-search button i {
	position: relative;
	top: 1px;
}

#h-search select:hover, #h-search button:hover {
	cursor: pointer;
}

#h-panel {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#cart {
	background: url(../img/cart-icon.png) no-repeat;
	background-size: 39px 39px;
}

#favorites {
	background: url(../img/heart.png) no-repeat;
	background-position: 3px 4px;
	background-size: 32px 32px;
}

#link-profile {
	background: url(../img/user.png) no-repeat;
	background-position: 2px 1px;
	background-size: 36px 36px;
}

#h-panel > * {
	display: block;
	height: 40px;
	width: 40px;
}

#h-panel > a {
	margin: 0 12px;
}

#button-responsive-menu {
	border: none;
	background: none;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	font-size: 1.8em;
}

#button-responsive-menu i {
	line-height: 38px;
	display: block;
}


#button-responsive-menu:hover {
	cursor: pointer;
}

.icon-bar {
	height: 3px;
	width: 26px;
	background: #171717;
	margin: 5px 0;
	border-radius: 5px;
}

/*  ------|>   MENU DE NAVEGAÇÃO PRINCIPAL   <|------  */

#nav-main ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	height: 42px;
}

#nav-main ul li {
	height: 100%;
}
#nav-main ul li a, #button-categories {
	border: none;
	display: block;
	height: 100%;
	line-height: 42px;
	padding: 0 25px;
	background: transparent;
	color: #fff;
	font-size: 1em;
	font-family: unset;
	text-transform: uppercase;
	transition: 0.3s;
}

#nav-main ul li a:hover {
	background: #2D2D2D;
}

#button-categories:hover {
	cursor: pointer;
	background: #DE2222;
	transition: 0.3s;
}

#button-categories i {
	margin-right: 10px;
}

/*                     /            \                     */
/*--------------------| INTRODUCTION |--------------------*/
/*                     \            /                     */

#section-introduction {
	margin-top: 15px;
}

#carousel-introduction {
	margin: 0 auto;
	max-width: 726px;
}

#introdution-cards {
	margin-top: 15px;
}

#introdution-cards ul * {
	margin: 0;
	padding: 0;
}

#introdution-cards ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#introdution-cards ul h3 {
	color: #171717;
	font-size: 0.9em;
}

#introdution-cards ul h5 {
	color: #626262;
	font-size: 0.8em;
}

#introdution-cards ul *:hover {
	cursor: context-menu;
}

#introdution-cards ul > li > div:first-child div {
	height: 40px;
}

#introdution-cards ul > li > div div img {
	text-align: center;
}

#introdution-cards ul > li {
	padding: 15px;
	border: 1px solid #D8D8D8;
}


/*                     /        \                     */
/*--------------------| TRENDING |--------------------*/
/*                     \        /                     */

#section-trending {
	margin-top: 15px;
}

.clear {
	clear: both;
}

/*                     /        \                     */
/*--------------------| ANUNCIOS |--------------------*/
/*                     \        /                     */
#section-advertising {
	margin-top: 15px;
}

#section-advertising .content > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

#section-advertising .content > div > div img {
	width: 100%;
	display: block;
	border-radius: 2px;
}

#section-advertising .content > div > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-advertising .content > div > div + div + div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#section-deal {
	margin-top: 15px;
}

/*                     /      \                     */
/*--------------------| FOOTER |--------------------*/
/*                     \      /                     */

footer {
	margin-top: 25px;
	padding: 10px 0;
	border-top: 1px solid #D8D8D8;
}

footer > div > div {
	/*border: 1px solid red;*/

}

footer > div > div > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

footer > div > div:first-child > ul > li i {
	width: 20px;
	color: #2A2A2A;
	margin-right: 7px;
	text-align: center;
}

footer > div > div h3 {
	margin: 5px 0;
	padding: 10px 0;
	border-bottom: 2px solid #E23939;
}

footer > div > div > ul > li {
	line-height: 25px;
}





















 
/*#section-introduction {
 	background: #E92A2A;
 }
 
 #section-trending {
 	background: #3471D6;
 }
 
 #section-advertising {
 	background: #6CDA36;
 }
 
 #section-deal {
 	background: #EC8326;
 	height: 400px;
 }   */ 
 

